<head th:fragment="headerFragment">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:replace="~{:: #pageTitle}">The-day-market</title>
    <link rel="stylesheet" th:href="@{/main.css}"/>
    <link rel="shortcut icon" th:href="@{/images/logoicon.png}" type="image/x-icon"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script th:src="@{/jquery.js}"></script>
    <script th:src="@{/main.js}"></script>
</head>