<nav th:fragment="header(showSearch)">
    <section class="nav-logo">
        <img th:src="@{/images/mainlogo.png}" alt="the main logo"/>
    </section>
    <section class="nav-search" th:if="${showSearch}">
        <form action="#">
            <input
                    type="text"
                    name="searchItem"
                    id="searchItem"
                    placeholder="Search..."
            />
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </section>
    <script th:src="@{/js/header.js}"></script>
    <section class="nav-user-details">
        <p><i class="fa fa-money"></i> <span id="user-points">30,000</span></p>
        <section class="user-details">
            <p>
                <i class="fa fa-user"></i> <span id="header-username">Alex</span>
                <i class="fa fa-chevron-down"></i>
            </p>
            <section class="user-edit">
                <button id="edit-user">Edit Details</button>
                <button id="logout">Logout</button>
            </section>
        </section>
    </section>
</nav>