<section class="page-nav" th:fragment="pageNavigation(role, activationId)">
    <script th:src="@{/js/nav.js}"></script>
    <section class="dashboard">
        <a href="#" id="dashboard-link">
            <i th:class="${activationId == 'dashboard'} ? 'fa fa-dashboard icon-activated' : 'fa fa-dashboard'"></i>
            <span th:class="${activationId == 'dashboard'} ? 'icon-activated' : ''">Dashboard</span>
        </a>
    </section>
    <section class="market">
        <a th:href="@{/web/market}">
            <i th:class="${activationId == 'market'} ? 'fa fa-building icon-activated' : 'fa fa-building'"></i>
            <span th:class="${activationId == 'market'} ? 'icon-activated' : ''">Market</span>
        </a>
    </section>
    <section class="mybid">
        <a href="#" id="bid-listing-link">
            <i th:class="${activationId == 'bid'} ? 'fa fa-hand-stop-o icon-activated' : 'fa fa-hand-stop-o'"></i>
            <span th:class="${activationId == 'bid'} ? 'icon-activated' : ''" id="bid-listing-nav"></span>
        </a>
    </section>
</section>