<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headerFragment}">
    <title id="pageTitle">English Auction | The-day-market</title>
</head>
<body>
<header th:insert="~{fragments/header :: header(true)}"></header>
<main class="auction-bid">
    <script th:src="@{/lib/pagination.min.js}"></script>
    <script th:src="@{/js/auction.js}"></script>
    <section class="auction-bid-wrapper">
        <!-- navigation for dashboard,market and my bids -->
        <section th:replace="~{fragments/pageNav :: pageNavigation('', 'market')}">
        </section>
        <!-- section for auction type display  -->
        <section class="auction-type" id="auction-type">
        </section>
        <!-- display of the bid placement including items details and bid placed information  -->
        <section class="bid-display">
            <!-- div with the details of the items for bidding -->
            <div class="bid-category">
                <div class="category" id="category-line">
                </div>
                <div class="items-details" id="auction-details">
                    <!-- description of items listed for auction  -->
                    <!-- div for the entry of bid amount  -->
                </div>
            </div>
            <!-- div with the details of the bidding placed information  -->
            <div class="bid-details">
                <div class="bid-remaining">
                    <h5>Bids</h5>
                </div>
                <!-- listing of the bidded amout with username, time and bids -->
                <div class="bid-listing">
                    <div class="max_bid_wrapper" id="max-bid">
                    </div>
                    <div class="list_wrapper" id="bid-list">
                    </div>
                    <div class="pagination" id="pagination">
                        <div id="pagination-nav"></div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</main>
</body>
</html>
