<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headerFragment}">
    <title id="pageTitle">Buy Points | The-day-market</title>
</head>
<body>
<main class="buypoints">
    <section class="buypoints-wrapper">
        <section class="buypoints-hero">
            <img th:src="@{/images/logoicon.png}" alt="logo"/>
            <p>Buy Points</p>
        </section>
        <section class="buypoints-form">
            <form action="#">
                <div class="current-points">
                    <h4>Current Points</h4>
                    <h4>500</h4>
                </div>
                <label for="purchaseAmount">Purchase Amount</label>
                <input
                        type="number"
                        name="purchaseAmount"
                        placeholder="Purchase amount"
                        id="purchaseAmount"
                        required
                />
                <div class="total-amount">
                    <h4>Total</h4>
                    <h4>&#163;20.05</h4>
                </div>
                <label for="cardNumber">Card number</label>
                <input
                        type="number"
                        name="cardNumber"
                        placeholder="Card number"
                        id="cardNumber"
                        required
                />
                <section class="card-validity">
                    <div class="cvv">
                        <label for="cvv">CVV</label>
                        <input
                                type="number"
                                name="cvv"
                                placeholder="cvv"
                                maxlength="4"
                                id="cvv"
                                required
                        />
                    </div>
                    <div class="expiry-date">
                        <label for="expiryAt">Expiry at</label>
                        <input
                                type="date"
                                name="expiryAt"
                                placeholder="MM/YY"
                                id="expiryAt"
                                required
                        />
                    </div>
                </section>
                <section class="button">
                    <button>Submit Payment</button>
                </section>
            </form>
        </section>
    </section>
</main>
</body>
</html>
