<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headerFragment}">
    <title id="pageTitle">Buy Points | The-day-market</title>
</head>
<body>
<script th:src="@{/js/points.js}"></script>
<main class="buypoints">
    <section class="buypoints-wrapper">
        <section class="buypoints-hero">
            <img th:src="@{/images/logoicon.png}" alt="logo"/>
            <p>Buy Points</p>
        </section>
        <section class="buypoints-form" id="points-form">
            <section id="show-buttons-section">
                <section class="add-listing" id="sell-points">
                    <h3><span>Sell Points</span></h3>
                </section>
                <section class="add-listing" id="buy-points">
                    <h3><span>Buy Points</span></h3>
                </section>
            </section>
        </section>
    </section>
</main>
</body>
</html>
