<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headerFragment}">
    <title id="pageTitle">Market | The-day-market</title>
</head>
<body>
<header th:insert="~{fragments/header :: header(true)}"></header>
<main class="auction-bid">
    <script th:src="@{/lib/pagination.min.js}"></script>
    <script th:src="@{/js/market.js}"></script>
    <section class="auction-bid-wrapper">
        <!-- navigation for dashboard,market and my bids -->
        <section th:replace="~{fragments/pageNav :: pageNavigation('', 'market')}">
        </section>
        <!-- section for auction type display  -->
        <section class="auction-type">
            <h4 id="market-status">OPEN For Business</h4>
        </section>
        <section class="search-result-wrapper">
            <section class="search-results">
                <section class="categories">
                    <h5>Filters</h5>
                    <section class="categories-list" id="categories-list">
                    </section>
                </section>
                <section class="match-found">
                    <section class="match-found-header">
                        <h5>Matches Found (<span id="match-count">20</span>)</h5>
                    </section>

                    <section class="match-found-items" id="auctions">
                    </section>
                    <div class="pagination" id="pagination">
                        <div id="pagination-nav"></div>
                    </div>
                </section>
            </section>
        </section>
    </section>
</main>
</body>
</html>
