<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headerFragment}">
    <title id="pageTitle">Sealed-bid Auction Configuration | The-day-market</title>
</head>
<body>
<main class="auction-configuration">
    <section class="auction-configuration-wrapper">
        <section class="hero-section">
            <img th:src="@{/images/logoicon.png}" alt="logoicon"/>
            <p>Auction Title</p>
        </section>
        <section class="auction-form">
            <form action="#">
                <h3>Vickrey Auction</h3>
                <label for="minimumBidAmount">Minimum bid amount</label>
                <input
                        type="number"
                        name="minimumBidAmount"
                        id="minimumBidAmount"
                />
                <label for="itemCount">Item count</label>
                <input type="number" name="itemCount" id="itemCount"/>
                <section class="submit-button">
                    <button>Save as draft</button>
                    <button>Publish</button>
                </section>
            </form>
        </section>
    </section>
</main>
</body>
</html>
